* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

button, input[type="text"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

input {
  margin-right: 20px;
  width: 200px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.error-message {
    color: red;
}

.hidden {
  display: none;
}